.container-list{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.5);
}

.container-list .container{
  width: 100%;
    height: 200px;
    background: #FFF;
    border-radius: 5px;
}
