<section style="min-height: 80vh;position: relative;">
    <div class="container" style="position: absolute;top:40%;text-align: center" *ngIf="!isPaymentSection">
        <div class="row">
            <div class="col-md-12">
                <button mat-raised-button color="accent" (click)="showStripeForm()">Stripe integration</button>
            </div>
        </div>
    </div>
    <div class="container" style="text-align: center; padding: 30px">
        <app-stripe [stripeVisible]="isStripeFormVisbile" (stripeTokenEmit)="getStripToken($event)" (showPlanListEmit)="showPlanList($event)"></app-stripe>
    </div>
    <div class="container-list">
      <div class="container" style="text-align: center; padding: 30px">
        <div class="col-md-12">
          <select class="" name="selectedPlan" (change)="changeSelectPlan()">
            <option [value]="" disabled>Select A Plan</option>
            <option *ngFor="let item of planList" [value]="item.id">{{item.name}}</option>
          </select>
        </div>
        <div class="col-md-12" style="margin-top: 20px;">
          <button (click)="submitToken()">Submit</button>
        </div>
      </div>
    </div>
</section>
